In [7]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                    'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

In [8]:
df

  key1 key2     data1     data2
0    a  one -0.140578 -1.244868
1    a  two -0.027477  0.071948
2    b  one -0.215293 -1.800479
3    b  two -0.462611 -0.150431
4    a  one  0.024334  0.315738

In [9]:
grouped = df['data1'].groupby(df['key1'])

In [12]:
grouped.head()

0   -0.140578
1   -0.027477
2   -0.215293
3   -0.462611
4    0.024334
Name: data1, dtype: float64

In [13]:
grouped.mean()

key1
a   -0.047907
b   -0.338952
Name: data1, dtype: float64

In [14]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [15]:
means

key1  key2
a     one    -0.058122
      two    -0.027477
b     one    -0.215293
      two    -0.462611
Name: data1, dtype: float64

In [19]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Maharashtra'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California   2005   -0.027477
             2006   -0.215293
Maharashtra  2006    0.024334
Ohio         2005   -0.301595
Name: data1, dtype: float64

In [21]:
for a,b in df.groupby('key1'):
        print(a)
        print(b)

a
  key1 key2     data1     data2
0    a  one -0.140578 -1.244868
1    a  two -0.027477  0.071948
4    a  one  0.024334  0.315738
b
  key1 key2     data1     data2
2    b  one -0.215293 -1.800479
3    b  two -0.462611 -0.150431